.buttonByCenterOfScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttonStyle{
  background-color: transparent;
  border: 1px solid;
  border-radius: 15px;
  font-style: italic;
}

.backgroundImage{
  background-color: #ffff;
  background-image: url("./assets/artGalleryBackgroundImg.jpg");
  background-size: cover;
}